@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@font-face {
  font-family: NorseBold;
  src: url("../fonts/Norse-Bold.otf");
}
/* 
Font Size System
3.052rem/48.83px	
2.441rem/39.06px	
1.953rem/31.25px	
1.563rem/25.00px	
1.25rem/20.00px	
1rem/16.00px	
0.8rem/12.80px	
0.64rem/10.24px	
0.512rem/8.19px	
0.41rem/6.55px	
0.328rem/5.24px	
0.262rem/4.19px */

:root {
  --main-font: "Inter", sans-serif;
  --error-color: #ff0000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #fdf3dd, #e1faee);
  width: 100vw;
  height: 100vh;
  font-family: var(--main-font);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: clamp(1rem, -0.24593rem + 5.246vw, 5rem); */
  /* border: 1px solid red; */
  width: 60%;
  height: 80%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.image {
  /* border: 1px solid blue; */
  position: relative;
  height: 100%;
  flex: 1.4;
  /* margin: 0;
  padding: 0; */
  background-image: url(../images/resort.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px 0 0 15px;
}

.image > .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.2);
  position: absolute;
  width: 100%;
  top: 10%;
  padding: calc(8.19px + (12.8 - 8.19) * ((100vh - 300px) / (1600 - 300)));
  /* border: 1px solid red; */
}

.logo > img {
  height: calc(8.19px + (100 - 8.19) * ((100vw - 300px) / (1600 - 300)));
}

.logo > h1 {
  font-family: NorseBold;
  font-size: calc(8.19px + (80 - 8.19) * ((100vw - 300px) / (1600 - 300)));
  color: #006c78;
}

.image > span {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: calc(8.19px + (10.24 - 8.19) * ((100vw - 300px) / (1600 - 300)));
}

.right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  flex: 2;
  /* border: 1px solid lime; */
  background-color: #f9fafb;
  border-radius: 0 15px 15px 0;
  /* gap: 3.052rem; */
  /* gap: calc(16px + (48.83 - 16) * ((100vw - 300px) / (1600 - 300))); */
}

.right > * {
  margin-bottom: calc(
    8.19px + (48.83 - 8.19) * ((100vh - 500px) / (1600 - 500))
  );
}

.right > p {
  /* font-size: 1.563rem; */
  color: #002024;
  font-size: calc(8.19px + (20 - 8.19) * ((100vw - 300px) / (1600 - 300)));
  /* width: 42ch; */
  max-width: 42ch;
  line-height: 1.2;
  letter-spacing: -0.8px;
  font-weight: 600;
  margin-left: calc(8.19px + (16 - 8.19) * ((100vw - 300px) / (1600 - 300)));
  margin-right: calc(8.19px + (16 - 8.19) * ((100vw - 300px) / (1600 - 300)));
}

.right button {
  margin-bottom: calc(8.19px + (20 - 8.19) * ((100vh - 300px) / (1600 - 300)));
  font-size: calc(8.19px + (16 - 8.19) * ((100vw - 300px) / (1600 - 300)));
  margin-left: calc(8.19px + (16 - 8.19) * ((100vw - 300px) / (1600 - 300)));
  background-color: #006c78;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: calc(4.19px + (10.24 - 4.19) * ((100vw - 300px) / (1600 - 300)));
}

button:hover {
  background-color: hsl(186, 100%, 29%);
  cursor: pointer;
}

button + p > a {
  text-decoration: none;
  color: #006c78;
  font-weight: 600;
}
button + p > a:hover {
  text-decoration: none;
  color: hsl(186, 100%, 29%);
  font-weight: 800;
  text-decoration: underline;
}

#right-LastPara {
  font-size: calc(8.19px + (16 - 8.19) * ((100vw - 300px) / (1600 - 300)));
}

.form {
  height: auto;
  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  padding: calc(10.24px + (20 - 10.24) * ((100vw - 300px) / (1600 - 300))) 0;
  /* border: 1px solid pink; */
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*   border: 1px solid blue; */
}

form > div {
  display: flex;
  flex-direction: column;
  flex: 1;
  /*   border: 1px solid lime; */
  padding-left: calc(8.19px + (16 - 8.19) * ((100vw - 300px) / (1600 - 300)));
}

form label {
  font-size: calc(8.19px + (16 - 8.19) * ((100vw - 300px) / (1600 - 300)));
}

form > div input {
  width: 70%;
  height: calc(12.8px + (50 - 12.8) * ((100vh - 300px) / (1600 - 300)));
  background-color: #f5f5f5;
  border: 1px solid #cacac9;
  border-radius: 5px;
}

.reqDiv {
  font-size: calc(8.19px + (12.8 - 8.19) * ((100vw - 300px) / (1600 - 300)));
  color: var(--error-color);
  margin-bottom: calc(8.19px + (20 - 8.19) * ((100vh - 300px) / (1600 - 300)));
}

form div input.error {
  border: 2px solid var(--error-color);
}
form div input.error:focus {
  border: 2px solid var(--error-color);
}
/* form > div input:invalid {
  border: 2px solid var(--error-color);
}
form > div input:focus:invalid {
  border: 2px solid var(--error-color);
} */

#phone::placeholder,
#email::placeholder {
  color: #cacac9;
  font-size: calc(8.19px + (12.8 - 8.19) * ((100vw - 300px) / (1600 - 300)));

  /*0.8rem/12.80px	
0.64rem/10.24px	*/
}

form div input:focus {
  border: 2px solid #2874dc;
  box-shadow: 2px 2px 2px 0px hsla(0, 0%, 0%, 0.2);
  outline: none;
}

.form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(8.19px + (20 - 8.19) * ((100vh - 300px) / (1600 - 300)));
}

.form > div > h2 {
  font-size: calc(8.19px + (20 - 8.19) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 500;
  padding-left: calc(8.19px + (16 - 8.19) * ((100vw - 300px) / (1600 - 300)));
}

.formHeader p {
  padding-right: calc(8.19px + (16 - 8.19) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(8.19px + (12.8 - 8.19) * ((100vw - 300px) / (1600 - 300)));
}

.required::before,
.formHeader p::before {
  content: "* ";
  color: #e03131;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 90svw;
    height: 90svh;
  }

  .image {
    width: 100%;
    background-image: url(../images/resort.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    /* border: 1px solid red; */
  }

  .right {
    width: 100%;
    border-radius: 0 0 15px 15px;
    padding-top: calc(
      8.19px + (48.83 - 8.19) * ((100vh - 500px) / (1600 - 500))
    );
  }

  .right > p {
    /* font-size: 1.563rem; */
    font-size: calc(8.19px + (20 - 8.19) * ((100vh - 300px) / (1600 - 300)));
  }

  .right p:last-child {
    font-size: calc(8.19px + (16 - 8.19) * ((100vh - 300px) / (1600 - 300)));
  }

  .form > div > h2 {
    font-size: calc(8.19px + (20 - 8.19) * ((100vh - 300px) / (1600 - 300)));
  }

  form label {
    font-size: calc(8.19px + (16 - 8.19) * ((100vh - 300px) / (1600 - 300)));
  }

  .right button {
    font-size: calc(8.19px + (16 - 8.19) * ((100vh - 300px) / (1600 - 300)));
  }

  .logo > img {
    height: calc(8.19px + (100 - 8.19) * ((100vh - 300px) / (1600 - 300)));
  }

  .logo > h1 {
    font-size: calc(8.19px + (80 - 8.19) * ((100vh - 300px) / (1600 - 300)));
  }
}
